src/META-INF/wsdl/localhost_48130/TpWebService/PersonneService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.robilife.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.robilife.com/" name="PersonneService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.robilife.com/" schemaLocation="http://localhost:48130/TpWebService/PersonneService?xsd=1"/>
</xsd:schema>
</types>
<message name="addPersonne">
<part name="parameters" element="tns:addPersonne"/>
</message>
<message name="addPersonneResponse">
<part name="parameters" element="tns:addPersonneResponse"/>
</message>
<message name="personneList">
<part name="parameters" element="tns:personneList"/>
</message>
<message name="personneListResponse">
<part name="parameters" element="tns:personneListResponse"/>
</message>
<message name="updatePersonne">
<part name="parameters" element="tns:updatePersonne"/>
</message>
<message name="updatePersonneResponse">
<part name="parameters" element="tns:updatePersonneResponse"/>
</message>
<message name="getPersonneById">
<part name="parameters" element="tns:getPersonneById"/>
</message>
<message name="getPersonneByIdResponse">
<part name="parameters" element="tns:getPersonneByIdResponse"/>
</message>
<message name="deletePersonne">
<part name="parameters" element="tns:deletePersonne"/>
</message>
<message name="deletePersonneResponse">
<part name="parameters" element="tns:deletePersonneResponse"/>
</message>
<portType name="PersonneService">
<operation name="addPersonne">
<input wsam:Action="http://service.robilife.com/PersonneService/addPersonneRequest" message="tns:addPersonne"/>
<output wsam:Action="http://service.robilife.com/PersonneService/addPersonneResponse" message="tns:addPersonneResponse"/>
</operation>
<operation name="personneList">
<input wsam:Action="http://service.robilife.com/PersonneService/personneListRequest" message="tns:personneList"/>
<output wsam:Action="http://service.robilife.com/PersonneService/personneListResponse" message="tns:personneListResponse"/>
</operation>
<operation name="updatePersonne">
<input wsam:Action="http://service.robilife.com/PersonneService/updatePersonneRequest" message="tns:updatePersonne"/>
<output wsam:Action="http://service.robilife.com/PersonneService/updatePersonneResponse" message="tns:updatePersonneResponse"/>
</operation>
<operation name="getPersonneById">
<input wsam:Action="http://service.robilife.com/PersonneService/getPersonneByIdRequest" message="tns:getPersonneById"/>
<output wsam:Action="http://service.robilife.com/PersonneService/getPersonneByIdResponse" message="tns:getPersonneByIdResponse"/>
</operation>
<operation name="deletePersonne">
<input wsam:Action="http://service.robilife.com/PersonneService/deletePersonneRequest" message="tns:deletePersonne"/>
<output wsam:Action="http://service.robilife.com/PersonneService/deletePersonneResponse" message="tns:deletePersonneResponse"/>
</operation>
</portType>
<binding name="PersonneServicePortBinding" type="tns:PersonneService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addPersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="personneList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPersonneById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonneService">
<port name="PersonneServicePort" binding="tns:PersonneServicePortBinding">
<soap:address location="http://localhost:48130/TpWebService/PersonneService"/>
</port>
</service>
</definitions>